---
layout: default
---
<article class="post">
	{% include post-heading.html post=page post_page=true %}

	{% if page.featured_image %}
	<div class="image">
		<img src="{{ page.featured_image }}" alt="{{ page.title }}">
	</div>
	{% endif %}

	<div class="recipe-body">
		{{ content }}
	</div>

	<ul id="recipe" class="recipe-overview">
		{% if page.recipe.servings %}
		<li title="Servings">
			{% include recipe-icon.html icon="quantity" %}
			<input id="servings" placeholder="{{ page.recipe.servings.size }}" maxlength="3" size="1" value="" oninput="changeValue()">
			<span>{{ page.recipe.servings.text }}</span>
		</li>
		{% endif %}
		{% if page.recipe.prep %}
		<li title="Prep Time">{% include recipe-icon.html icon="time" %}<span>{{ page.recipe.prep }}</span></li>
		{% endif %}
		{% if page.recipe.cook %}
		<li title="Cook Time">{% include recipe-icon.html icon="cook" %}<span>{{ page.recipe.cook }}</span></li>
		{% endif %}
		{% if page.recipe.temp %}
		<li title="Temperature">{% include recipe-icon.html icon="temp" %}<span>{{ page.recipe.temp }}</span></li>
		{% endif %}
	</ul>

	<div class="recipe-contents">
		<div class="ingredients">
			<h2>Zutaten</h2>

			{{ page.recipe.ingredients_markdown | markdownify }}

			{% for ingredient in page.recipe.ingredients %}
				{% if forloop.first %}<ul id="listIng">{% endif %}
				<li><span>{{ ingredient.qty }}</span> {{ ingredient.name }}</li>
				{% if forloop.last %}</ul>{% endif %}
			{% endfor %}
		</div>

		<div class="directions">
			<h2>Zubereitung</h2>
			{{ page.recipe.directions_markdown | markdownify }}
		</div>
	</div>
</article>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
	$(function() {
		$('.post img').imgPin();

		$('a[href*=\\#]').on('click', function(event){
			var el = $(this.hash);
			if (el.length > 0) {
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top - 50}, 500);
			}
		});
	});

	function changeValue() {
		var inputValue = document.getElementById("servings").value;
		// var chocolate = parseFloat(document.getElementById("chocolate").innerText);
		// document.getElementById("chocolate").innerHTML = (inputValue / 18).toPrecision(2);
		var list = document.getElementById("listIng");
		var items = list.getElementsByTagName("span");
		for (var i = 0; i < items.length; ++i) {

		}
	}
</script>
